.header{
    background: rgb(115, 96, 172);
    color: rgb(251, 251, 251);
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
}

.header .wrap{
display: flex;
justify-content: space-between;
align-items: center;
}

.right{
text-align: right;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

